@model IEnumerable<LearningDiaryLP_ASP.Models.Topic>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Learning diary</h1>
    <p>Check list below</p>
</div>

<div class="row" id="entrylist">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TimeToMaster)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TimeSpent)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Source)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartLearningDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InProgress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CompletionDate)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeToMaster)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeSpent)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Source)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartLearningDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InProgress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompletionDate)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>